# Goals
- Find the customer(s) who spent the most money
- Find the biggest sales day of the week
- Do all of the above while being aware of the space/time complexity

# Dataset
The original dataset, created by Rao Babar Ali, was found on Kaggle: https://www.kaggle.com/datasets/raosuny/e-commerce-purchase-dataset?resource=download

In [37]:
import pandas as pd

df = pd.read_csv(r'Downloads\purchase_data_exe.csv')
df = df.drop(columns = 'Unnamed: 7')
df.head()

,date,customer_id,product_category,payment_method,value [USD],time_on_site [Minutes],clicks_in_site
0,20/11/2018,37077,505,credit,49.53,12.0,8
1,20/11/2018,59173,509,paypal,50.61,25.9,8
2,20/11/2018,41066,507,credit,85.99,34.9,11
3,20/11/2018,50741,506,credit,34.60,16.5,9
4,20/11/2018,53639,515,paypal,266.27,43.1,30

In [38]:
import calendar 
from datetime import date

day_of_week = []
for i in range(len(df)):
    da = pd.Timestamp(df.date.iloc[i])
    day_of_week.append(da.day_name())

day_of_week
df['day_of_week'] = day_of_week

C:\Users\timmc\AppData\Local\Temp\ipykernel_18276\2986107521.py:6: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  da = pd.Timestamp(df.date.iloc[i])

In [39]:
biggest_spender = df['value [USD]'].idxmax()
df.iloc[biggest_spender]

date                      23/11/2018
customer_id                    51660
product_category                 503
payment_method                credit
value [USD]                  2177.04
time_on_site [Minutes]         147.8
clicks_in_site                    81
day_of_week                   Friday
Name: 10200, dtype: object

In [70]:
fre = df.customer_id.value_counts()
fre = fre.tolist()
for i in range(len(fre)):
    if fre[i] == 1:
        break

ids = df.customer_id.value_counts().index.tolist()

repeats = []
for j in range(len(ids)):
    if j == i:
        break
    repeats.append(ids[j])